header {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: auto; 
}

header nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
}

.root {
    padding: 0 30px;
    min-height: 100vh;
}